/* -------------------------------
   Base
   ------------------------------- */

html {
	box-sizing: border-box;
}

body {
	font-family: $font-primary;
	color: $primary-text-color;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
