---
bodyclass: layout
language: en
meta:
  author: 
  description: 
  keywords: 
  robots: index, follow
stylesheets:
  - ./css/app.min.css
scripts:
  - ./js/app.min.js
title: 
uri: /
---

{{#extend "base"}}
    {{#content "main"}}
        <h1>Hello world</h1>
    {{/content}}
{{/extend}}