---
bodyclass: layout
language: en
meta:
  author: Jack Thomas
  description: Frontend Developer based in Glasgow
  keywords: Frontend, Front end, Developer, Front end Developer, Glasgow, Developer Glasgow, Javascript, Javascript Developer
  robots: index, follow
stylesheets:
  - ./css/app.min.css
scripts:
  - ./js/app.min.js
title: Jack Thomas - Web Developer 
uri: /
---

{{#extend "base"}}
    {{#content "main"}}
        <h1>Hello there</h1>
    {{/content}}
{{/extend}}